<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="tasks">
            <h1>Active tasks</h1>
          </div>
        </div>
      </div>

      <div id="task-form">
        <h2>Add new task</h2>
        <form action="#" class="form-horizonal" method="post">
          <div class="form-group">
            <input class="form-control" id="task-title" name="title" placeholder="Task title" type="text">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div>

    <script id="task-template" type="text/html">
      <div class="task panel panel-default">
        <div class="panel-heading"><%= title %></div>
        <div class="panel-body">
          <a class="js-task-remove" href="#">x</a>
        </div>
      </div>
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
    <script charset="utf-8" src="src/js/main.js"></script>
    <script>
      $(function() {
        var tasks = new App.Collections.Tasks();
        var taskForm = new App.Views.TaskForm({
          el: '#task-form',
          collection: tasks
        });

        var taskList = new App.Views.Tasks({collection: tasks}).render();
      });
    </script>
  </body>

</html>
